<!DOCTYPE html>
<html lang="en">


<head>

<meta charset="utf-8">
<title>PokeDex</title>
<link rel = "icon" href = "/static/images/pokeball.png" type = "image/x-icon">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"> -->
<!-- https://fonts.google.com/specimen/Roboto -->
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/fontawesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">







</head>

<body>

<!-- this is home logo -->
<div class="main-logo">

  <img class="picture" src="/static/images/pokemon-logo.png" class="card__image" alt="" />

</div> 
    

<!-- this is interactive card -->



<div class="home_cards"> 
<ul class="cards">
  
    <li>
      <a href="legendary_checker.html" class="card">
        <img src="/static/images/Legendary.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     

            <img class="card__thumb" src="/static/images/pokeball.png"  alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Legendary Checker</h3>            
            </div>
          </div>
          <p class="card__description">Legendary Checker is used to find the Legendary Status by entering the attributes of Pokemon.</p>
        </div>
      </a>      
    </li>
    <li>
      <a href="pokemon_database.html" class="card">
        <img src="/static/images/pokedex_trans.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     

            <img class="card__thumb" src="/static/images/pokeball.png"  alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Pokemon Database</h3>
            </div>
          </div>
          <p class="card__description">Find any existing Pokemon using the Pokemon Database. Type the name and search for its attributes</p>
        </div>
      </a>
    </li>
    <li>
      <a href="pokemon_comparator.html" class="card">
        <img src="/static/images/pokemon_compare.png" class="card__image" alt="" />

        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     

            <img class="card__thumb" src="/static/images/pokeball.png"  alt="" />

            <div class="card__header-text">
              <h3 class="card__title">Pokemon Comparator</h3>
            </div>
          </div>
          <p class="card__description">Compare the stats and visualize the stats any two pokemon using the Pokemon Comparator </p>
        </div>
      </a>
    </li>
  
  </ul>

</div>










<!-- This is nav bar     -->

<nav>
    <ul>
        <li>
            <a href="home.html" class="logo">
                
                <img src="/static/images/pokeball.png" alt="" width="60" height="60">
                <span class="nav-item">PokeDex</span>
            </a>
        </li>
        <li>
            <a href="home.html">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>
        <li>
            <a href="legendary_checker.html">
                <i class="fa fa-check-square fa-4x" aria-hidden="true"></i>
                <span class="nav-item">Legendary Checker</span>
            </a>
        </li>
        <li>
            <a href="pokemon_database.html">
                <i class="fa fa-id-badge fa-4x" aria-hidden="true"></i>
                <span class="nav-item">Pokemon Database</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="nav-item">Pokemon Comparator</span>
            </a>
        </li>

        
    </ul>
</nav>










</body>







</html>