<!DOCTYPE html>
<html lang="en">


<head>

<meta charset="utf-8">
<title>PokeDex</title>

<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"> -->
<!-- https://fonts.google.com/specimen/Roboto -->
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel = "icon" href = "images/pokeball.png" type = "image/x-icon">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/fontawesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">





</head>

<body>


  

<!-- This is nav bar     -->

<nav>
    <ul>
        <li>
            <a href="home.html" class="logo">
                
                <img src="images/pokeball.png" alt="" width="60" height="60">
                <span class="nav-item">PokeDex</span>
            </a>
        </li>
        <li>
            <a href="home.html">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>
        <li>
            <a href="legendary_checker.html">
                <i class="fa fa-check-square fa-4x" aria-hidden="true"></i>
                <span class="nav-item">Legendary Checker</span>
            </a>
        </li>
        <li>
            <a href="pokemon_database.html">
                <i class="fa fa-id-badge fa-4x" aria-hidden="true"></i>
                <span class="nav-item">Pokemon Database</span>
            </a>
        </li>

        <li>
            <a href="pokemon_comparator.html">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="nav-item">Pokemon Comparator</span>
            </a>
        </li>

       
    </ul>
</nav>










</body>







</html>